services:
  arquify_docmost:
    image: docmost/docmost:0.23.2
    container_name: arquify_docmost
    depends_on:
      - arquify_postgres
      - arquify_redis
    environment:
      APP_URL: ${DOCMOST_APP_URL}
      APP_SECRET: ${DOCMOST_APP_SECRET}
      DATABASE_URL: ${DOCMOST_DATABASE_URL}
      REDIS_URL: 'redis://arquify_redis:6379'
      DISABLE_TELEMETRY: true
      MAIL_DRIVER: 'smtp'
      MAIL_FROM_NAME: "Arquify Docmost"
      MAIL_FROM_ADDRESS: ${DOCMOST_MAIL_FROM_ADDRESS}
      SMTP_SECURE: ${SMTP_SECURE}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
    ports:
      - ${DOCMOST_EXPOSE_PORT}:3000
    restart: unless-stopped
    volumes:
      - docmost_data:/app/data/storage
    networks:
      - arquify_network

  arquify_postgres:
    image: postgres:16-alpine
    container_name: arquify_postgres
    environment:
      POSTGRES_DB: docmost
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - arquify_network

  arquify_redis:
    image: redis:7.2-alpine
    container_name: arquify_redis
    restart: unless-stopped
    networks:
      - arquify_network

volumes:
  docmost_data:
    name: arquify_docmost_volume
  postgres_data:
    name: arquify_postgres_volume

networks:
  arquify_network:
    name: arquify_network
    driver: bridge 
